@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/848d6580/stylesheets/chaos.css') (prefers-color-scheme: dark);
/* General Styles (all sizes)

/* General Typography ------------------------------ */
body {
    font-family: 'Crimson Text', Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 30px;
    line-height: 3rem;
    color: rgb(98, 98, 98);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1b1b1b;
        color: rgb(197, 197, 197);
    }
}

/* Headings */
h1 {
    font-size: 44px;
    font-size: 4.4rem;
    line-height: 40px;
    line-height: 4rem;
    font-weight: 700;
    color: rgb(56, 56, 56);
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    display: block;
}

h1 small {
    font-weight: 300;
    color: #888;
}

article h1 {
    line-height: 40px;
    line-height: 4rem;
    font-weight: 400;
    text-transform: none;
    font-family: 'Crimson Text', Georgia, Times, 'Times New Roman', serif;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
}

h1 a {
    color: #111;
}

h1 a:hover {
    text-decoration: none;
}

h2 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    color: rgb(56, 56, 56);
    margin-bottom: 2rem;
}

h3 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 400;
    color: rgb(56, 56, 56);
    font-style: italic;
    margin-bottom: 2rem;
}

h4 {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0;
    color: rgb(56, 56, 56);
}

@media (prefers-color-scheme: dark) {
    h1, h2, h3, h4 {
        color: rgb(228, 227, 227);
    }

    h1 a {
        color: #EEE;
    }
}

p {
    margin-bottom: 20px;
    margin-bottom: 2rem;
}

iframe {
    margin-bottom: 20px;
    margin-bottom: 2rem;
}

blockquote {
    margin: 0 2em 1em;
    color: #333;
}

@media (prefers-color-scheme: dark) {
    blockquote {
        color: rgb(148, 147, 147);
    }
}

cite {
    display: block;
}

h2 + p, h3 + p, h4 + p {
    margin-top: 0;
}

a {
    color: #ff0066;
    text-decoration: none;
    overflow-wrap: break-word;
}

a:hover {
    color: #cc0033;
    text-decoration: underline;
}

ul {
    padding-left: 2rem;
    margin-bottom: 2rem;
}

img {
    width: 100%;
}

figure {
    margin-bottom: 20px;
    margin-bottom: 2rem;
}

figcaption {
    font-size: 75%;
}

@media (prefers-color-scheme: dark) {
    img {
        filter: grayscale(30%);
    }
}

em.prologue {
    color: #a1a1a1;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
    margin-top: 0;
    margin-bottom: 16px;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

th, td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    tr {
        background-color: #1b1b1b;
    }
}

/* Layout ------------------------------ */

.container {
    max-width: 600px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
}

header {
    text-align: center;
}

header h1 a:hover {
    color: inherit;
}

article header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

article header h1 a:hover {
    color: #cc0033;
}

article {
    margin-bottom: 70px;
}

.date {
    font-style: italic;
    color: #999;
}

.category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    float: left;
    width: 48%;
    text-align: left;
}

.time {
    font-size: 16px;
    float: right;
    width: 48%;
    text-align: right;
    color: #999;
}

footer {
    background-color: rgb(56, 56, 56);
    padding: 10px 0 0 0;
    color: #f8f8f1;
    float: left;
    width: 100%;
}

footer article {
    padding: 10px 5%;
}

footer .left {
    float: left;
}

footer .right {
    float: right;
}

footer a {
    color: #FFF;
}

/* Lists */

ul.listing {
    list-style: none;
}

ul.listing li {
    margin-bottom: 0.6em;
}

ul.listing time {
    margin-right: 20px;
}

/* Code listings */
.gist {
    font-size: 0.75em;
}

.gist tr {
    background-color: transparent;
    border-top: none;
}

th, td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
}

.highlight pre {
    white-space: pre-wrap;
    padding: 20px 2rem;
    font-size: 80%;
}

@media (prefers-color-scheme: dark) {
    .gist .gist-data, .gist .markdown-body pre {
        background-color: #1b1b1b!important;
    }

    .gist {
        color: rgb(197, 197, 197)!important;
    }
}
