<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}: {{ site.tagline }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ ASSET_PATH }}/css/reset.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700,400italic' rel='stylesheet' type='text/css'>    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="container">

      <header>
        <h1><a href="{{ HOME_PATH }}">{{ site.title }} {% if site.tagline %} <small>{{ site.tagline }}</small>{% endif %}</a></h1>
      </header>

      <div class="content">
        <article>
          {{ content }}
        </article>
      </div>

    </div> <!-- /container -->

    <footer>
      <article>
        <span class="left"><a href="http://github.com/jenkoian/jenkoian.github.com" target="_blank">View on Github</a></span>
        <span class="right">&copy; {{ site.author.name }} {{ 'now' | date: "%Y" }}</span>
        <br />
        <span class="right"><a href="http://twitter.com/jenko" target="_blank">@jenko</a></span>
      </article>
    </footer>    

    {% include JB/analytics %}
  </body>
</html>
