<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ ASSET_PATH }}/css/reset.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700,400italic' rel='stylesheet' type='text/css'>    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="container">

      <header>
        <a href="{{ HOME_PATH }}"><h1>{{ site.title }} {% if site.tagline %} <small>{{ site.tagline }}</small>{% endif %}</h1></a>
      </header>

      <div class="content">
        <article>
          {{ content }}
        </article>
      </div>

    </div> <!-- /container -->

    <footer>
      <p>&copy; {{ site.author.name }} {{ 'now' | date: "%Y" }}</p>
    </footer>    

    {% include JB/analytics %}
  </body>
</html>
